<h4>Parameters</h4>
<fieldset class="form-group" ng-repeat="(name, value) in parameters">
	<label>{{name!='speedLimit'?name:'speed' | capitalize}}: {{value}}%</label> <span class="glyphicon glyphicon-question-sign pull-right" popover-placement="left" popover="{{parameterHelp[name]}}" popover-trigger="mouseenter"></span>
	<input type="range" min="{{name==='alignment'?-5:0}}" max="{{name!='speedLimit'?100:200}}" ng-model="parameters[name]" />
</fieldset>
<button ng-if="tank.sharks < 1" ng-click="tank.addShark()" class="btn btn-default">Add Shark</button>
<hr />
<div ng-repeat="flake in food">Food is at: ({{flake.x}},{{flake.y}})</div>